.header-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.header-image {
  width: 100%;
  height: auto; /* Let height adjust naturally */
  display: block;
}


.rotating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

.span-highlight {
  color: #f5c518;
  font-size: 100px;
}

/* Shrink text for smaller screens */
@media (max-width: 880px) {
  .rotating-text {
    font-size: 40px;
  }

  .span-highlight {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .rotating-text {
    font-size: 30px;
  }

  .span-highlight {
    font-size: 40px;
  }
}
