.promo-section {
  width: 100%;
  background-image: url('../assets/foodback.png');
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo-section-content {
  max-width: 900px;
  width: 100%;
}



.promo-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 10px 0;
  color: #000;
}

.promo-highlight {
 background: linear-gradient(
    to bottom,
    #a21115,  /* light gold */
    #d30a11,  /* mid-tone gold */
    #e90008   /* dark gold */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.promo-subtitle {
  font-size: 1.2rem;
  color: #a21115;
  margin-bottom: 20px;
}

.promo-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
  text-align: justify;
}

.promo-cta-btn {
  background-color: #f5c518;
  color: #fff;
  font-size: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.promo-cta-btn:hover {
  background-color: #0f8f48;
}

/* Responsive */
@media (max-width: 768px) {
  .promo-title {
    font-size: 2rem;
  }

  .promo-subtitle {
    font-size: 1.1rem;
    color: #a21115;
  }

  .promo-description {
    font-size: 1rem;
    text-align: center;
  }

  .promo-cta-btn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .promo-title {
    font-size: 1.8rem;
  }

  .promo-subtitle {
    font-size: 1rem;
  }

  .promo-description {
    font-size: 0.95rem;
  }

  .promo-cta-btn {
    font-size: 0.9rem;
    padding: 10px 16px;
  }
}
